.ItineraryDetails, .DestinationDetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto;
    transition: all 0.3s ease;
    animation: fadeInUp 0.6s ease-in-out;
  }
  
  .ItineraryDetails h2, .DestinationDetails h2 {
    font-size: 32px;
    color: #3498db;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 20px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    hyphens: auto;
  }
  
  .ItineraryDetails p, .DestinationDetails p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word; 
  }
  
  .Created {
    margin-top: 20px;
    font-size: 15px !important;
    font-style: italic;
  }

  .description-container {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #00c6ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0072ff;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .itineraries ul, .itineraries li {
    margin: 0;
    padding: 0;
  }
  
  .itineraries a {
    text-decoration: none;
    color: #00c6ff;
    font-weight: bold;
  }
  
  .itineraries a:hover {
    color: #0072ff;
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .ItineraryDetails, .DestinationDetails {
      padding: 15px;
    }
  
    .ItineraryDetails h2, .DestinationDetails h2 {
      font-size: 28px;
    }
  
    button {
      width: 100%;
      max-width: 100px;
      margin-top: 10px;
    }
  
    img {
      margin-bottom: 15px;
    }
  }
  
  /* Adding Animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  
  .DestinationDetails ul {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
    
  }
  
  .DestinationDetails ul li {
    margin: 10px 0;
   
  }
  
  .DestinationDetails ul li a {
    text-decoration: none;
    color: #0072ff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .DestinationDetails ul li a:hover {
    color: #005bb5;
  }

  .ItineraryDetails ul, .DestinationDetails ul   {
    list-style-type: disc;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    box-sizing: border-box;
    max-width: 100%;
  }